@font-face {
  font-family: Makinas;
  src: url(/font/Makinas-4-Square.otf) format(opentype);

}

@font-face {
  font-family: Makinas-flat;
  src: url(/font/Makinas-4-Flat.otf) format(opentype);

}

.titulos {
  font-family: 'Courier New', Courier, monospace;
  font-size: 140%;  
}

header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 140%;
}
.texto {
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: justify;
  font-size: 120%;
  font-family:'Courier New', Courier, monospace;
}

.main-mobile {
  display: none;
}

.personagens-inicio {
  display: flex;
  padding-right: 5%;
}

body {
  color: rgb(255, 255, 255);
  min-height: 100vh;
  background: linear-gradient(to right, #ad0000 0%, #000000 85%);

}

.nav-container a {
  text-decoration: none;
  color: #ffffff
}

.nav-container a h3 {

  display: inline;
  padding: 50px;




}

.nav-container {
  position: relative;
  height: 50px;
  top: 25px;



}

.ui-btn {

  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;

  --hover-btn-color: #ff0000;

  --font-size: 16px;

  --font-weight: 600;


}



.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  font-size: 140%;
  font-family: 'Makinas';
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

@media screen and (max-width: 573px) {
  body {
    flex-direction: column;

  }

  .nav-container {
    display: none;
  }

  .main-mobile {
    display: block;
  }

  .btn-abrir-menu svg {
    color: #ff0000;
    font-size: 40px;
    right: -90%;
    position: relative;

  }

  .menu-mobile {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;

  }

  .menu-mobile.abrir-menu {
    width: 70%;
  }

  .menu-mobile a h3 {
    text-align: right;
    padding: 20px 4%;
    font-size: 20px;
    font-weight: 300;
  }

  .menu-mobile .btn-fechar {
    color: #ff0000;
    font-size: 20px;
    padding: 20px 5%;

  }

  .img_personagem {
    width: 80%;
    height: 80%;
    padding-left: 0.5%;
    padding-right: 0.5%;

  }

  .legendaImg {
    padding: 1%;
    font-family: 'Makinas-flat';
  }

  .personagens-inicio {
    display: block;
    padding-right: 5%;
  }

  .texto {
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: justify;
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
  }
  .rodape {
    background-color: black;
    position: sticky;
    bottom: 0%;
    width: 90%;
   padding: 15px;
   font-family: 'Makinas-flat';
  }

  .ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    font-size: 140%;
    font-family: 'Makinas';
  }
  .titulos {
    font-family: 'Makinas';
    font-size: 140%;  
  }
  
  header {
    font-family: 'Makinas';
    font-size: 140%;
  }

}



.img_personagem {
  width: 80%;
  height: 80%;
  padding-left: 0.5%;
  padding-right: 0.5%;

}

.legendaImg {
  padding: 1%;
  width: 80%;
  font-size: 120%;
  font-family: 'Makinas-flat';
}

.personagens-inicio {
  padding: 2%;
}

.rodape {
  background-color: black;
  position: sticky;
  bottom: 0%;
  width: 90%;
 padding: 15px;
 font-family: 'Makinas-flat';
}

* {
  margin: 0;
  padding: 0;
}