body {
  color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, #ce0000 0%, #000000 85%);

  }
  
  .nav-container a h3{
    display: inline;
   margin: 50px;
 
  
  }

  .nav-container{
    position: relative;
    background-color: #000000;
    height: 50px;
    top: 25px;
    
  }
 